<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8" />
    <title>System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<header>
    <nav style="background: #111;">
        <ul style="display: flex; flex-direction: row; justify-content: space-around; padding: 2rem; list-style: none;">
            <li><a style="color: white;" href="/add-edit-user">Sign up</a></li>
            <li><a style="color: white;" href="/login">Sign In</a></li>
            <li><a style="color: white;" href="/list-users">List users</a></li>
        </ul>
    </nav>
</header>
<div class="col-12" style="display: flex;">
    <div class="col-4">

    </div>

    <div class="col-4">
        <h1 style="display: flex;
            justify-content: center;
            font-weight: 900;
            font-family: sans-serif;
            color: white;
            background: #111;
            padding: 1.5rem;
            border-radius: 10px;">Welcome</h1>
    </div>

    <div class="col-4">

    </div>
</div>
<footer>
</footer>
</body>